WebStore2.Web/WebStore2.Web/Service References/WebStore2Service/WebStoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebStoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55663/WebStoreService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55663/WebStoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55663/WebStoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebStore2.Domain.OrdersService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebStoreService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IWebStoreService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebStoreService_RemoveAt_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAt" />
  </wsdl:message>
  <wsdl:message name="IWebStoreService_RemoveAt_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAtResponse" />
  </wsdl:message>
  <wsdl:message name="IWebStoreService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IWebStoreService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebStoreService">
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebStoreService/GetProducts" message="tns:IWebStoreService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebStoreService/GetProductsResponse" message="tns:IWebStoreService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAt">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebStoreService/RemoveAt" message="tns:IWebStoreService_RemoveAt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebStoreService/RemoveAtResponse" message="tns:IWebStoreService_RemoveAt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebStoreService/GetData" message="tns:IWebStoreService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebStoreService/GetDataResponse" message="tns:IWebStoreService_GetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebStoreService" type="tns:IWebStoreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IWebStoreService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAt">
      <soap:operation soapAction="http://tempuri.org/IWebStoreService/RemoveAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IWebStoreService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebStoreService">
    <wsdl:port name="BasicHttpBinding_IWebStoreService" binding="tns:BasicHttpBinding_IWebStoreService">
      <soap:address location="http://localhost:55663/WebStoreService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>